.Playlist {
  display: flex;
  align-items: center;
  width: 80vw;
  height: 98vh;
  flex-direction: column;
  font-size: 2.5vmin;
}

.main-container.tracks {
  width: 79.7vw;
  height: 67.3vh;
}

.containerHeader.title {
  font-size: 5vmin;
  height: 4vmax;
  margin-bottom: 0.5vmin;
  width: 66vw;
  
}

.containerSubheader.info {
  font-size: 1.5vmin;
  height: 2.5vmax;
  height: fit-content;
  color: #eee;
  width: 66vw;
}

.containerSubheader.created {
  font-size: 1.5vmin;
  height: 2.5vmax;
  height: fit-content;
  color: #eee;
  width: 66vw;
  margin-top: 1vmin;
}

.containerSubheader.description {
  font-size: 1.5vmin;
  height: 7vmax;
  height: auto; 
  max-height: 7vmax;
  min-height: 1.5vmax;
  width: 66vw;
  white-space: normal;
  align-items: start;
  
}

.container.track {
  width: 79.4vw;
  height: 5.2vmax;
  margin-bottom: 0.5vmax;
}

.main-container.playlistInfo {
  width: 100%;
  height: 30vh;
  flex-direction: row;
  background-color: #222;
  margin: 0;
  border-radius: 10px 10px 0px 0px;
  align-items: center;
  padding: 1.5vh;
}

.container.header {
  width: 79.1vw;
  flex-direction: row;
  border-bottom: 2px solid #222;  
  margin-right: 0.3vmax;
  border-radius: 0px;
}

.container.header:hover {
  background-color: #111;
  cursor:default;
}

.main-container.playlistInfo:hover {
  overflow-y: hidden;
}

.coverImg.track {
  border-radius: 5px;
  width: 4.5vmax;
  height: 4.5vmax;
}

.coverImg.streamable {
  border-radius: 5px;
  width: 2vmax;
  height: 2vmax;
  margin-right: 0.5vmax;
}

.coverImg.playlistInfo {
  border-radius: 0px;
  width: 27vh;
  height: 27vh;
}

.imageAndTitle.collectionInfo {
  height: 27vh;
  width: 100%;
  align-content: center;
}

.imageAndTitle.item {
  height: 100%;
  width: 16.1vw;
}

.imageAndTitle.headerTitle {
  height: 100%;
  width: 16.1vw;
  text-align: left;
  justify-content: right;
}

.containerHeader.itemTitle {
  font-size: 2vmin;
  height: 1.9vmax;
}

.containerSubheader.item {
  font-size: 2vmin;
  height: 1.5vmax;
}

.containerSubheader.note {
  font-size: 2vmin;
  height: 1.5vmax;
  height: auto;
  max-height: 4.7vmax;
  white-space: normal;
}

.containerSubheader.created {
  font-size: 1.5vmin;
  height: 2.5vmax;
  height: fit-content;
  color: #eee;
  width: 66vw;
  margin-top: 1vmin;
}

.containerSubheader.description {
  font-size: 1.5vmin;
  height: 7vmax;
  height: auto; 
  max-height: 7vmax;
  min-height: 1.5vmax;
  width: 66vw;
  white-space: normal;
  align-items: start;
  
}

.everythingElse {
  width: 63vw;
  display: flex;
}

.everythingElse.header {
  width: 62.7vw;
  display: flex;
}

.now-playing__side.collectionInfo {
  height: 100%;
  width: 66vw;
}

.now-playing__side.item{
  height: 4.7vmax;
  width: 11.1vw;
}

.now-playing__side.headerItem{
  height: 1vmax;
  width: 11.1vw;
}

.now-playing__side.type {
  height: 4.7vmax;
  width: 4vw;
}

.now-playing__side.headerType {
  height: 1vmax;
  width: 4vw;
}

.now-playing__side.note{
  height: 4.7vmax;
  width: 55vw;
}

.now-playing__side.headerNote{
  height: 1vmax;
  width: 55vw;
}

.now-playing__side.streamable{
  height: 4.7vmax;
  width: 10vw;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

.now-playing__side.headerStreamable{
  height: 1vmax;
  width: 10vw;
  text-align: center;
}